# LaTeX
**/*.aux
**/*.auxlock
**/*.bbl
**/*.bcf
**/*.blg
**/*.dep
**/*.dpth
**/*.md5
**/*.fdb_latexmk
**/*.fls
**/*.idx
**/*.ilg
**/*.ind
**/*.loe
**/*.log
**/*.nav
**/*.out
**/*.run.xml
**/*.snm
**/*.synctex.gz
**/*.synctex(busy)
**/*.toc

# macOS
.DS_Store

# Python
__pycache__/

# Data
data/cosimlex_dataset/*
data/evaluation_kit_final/*
data/practice_kit_final/*
!data/cosimlex_dataset/*.csv
!data/evaluation_kit_final/data
!data/practice_kit_final/data
